<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>AÑO DE FABRICACIÓN</th>
                        <th>PRECIO</th>
                        <th>NRO ASIENTOS</th>
                        <th>COLOR</th>
                        <th>COMBUSTIBLE</th>
                        <th>TRANSMISION</th>
                        <th>PLACA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td>Mustang</td>
                        <td>2023</td>
                        <td>$45,000</td>
                        <td>4</td>
                        <td>Rojo</td>
                        <td>Gasolina</td>
                        <td>Automática</td>
                        <td>ABC123</td>
                    </tr>
                    <!-- More rows can be added here -->
                </tbody>
            </table>
        </div>
    </div>
</div>