<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group mb-2">
                    <label for="InputMarca">Marca</label>
                    <input type="text" class="form-control" id="InputMarca" placeholder="Ingrese Modelo">
                </div>
                <div class="form-group mb-2">
                    <label for="InputModelo">Modelo</label>
                    <input type="text" class="form-control" id="InputModelo" placeholder="Ingrese Marca">
                </div>
                <div class="form-group mb-2">
                    <label for="InputYear">Marca</label>
                    <input type="date" class="form-control" id="InputYear">
                </div>
                <div class="form-group mb-2">
                    <label for="InputPrecio">Precio</label>
                    <input type="number" class="form-control" id="InputPrecio" placeholder="Ingrese Precio">
                </div>
                <div class="form-group mb-2">
                    <label for="InputAsientos">Nro Asientos</label>
                    <input type="number" class="form-control" id="InputAsientos" placeholder="Ingrese Nro de asientos">
                </div>
                <div class="form-group mb-2">
                    <label for="InputColor">Color</label>
                    <input type="text" class="form-control" id="InputColor" placeholder="Ingrese Color">
                </div>
                <div class="form-group mb-2">
                    <label for="combustibleSelect">Tipo de Combustible</label>
                    <select class="form-select" id="combustibleSelect">
                        <option value="" disabled selected>Selecciona un Tipo de Combustible</option>
                        <option value="Gasolina">Gasolina</option>
                        <option value="Gas Natural">Gas Natural</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Biodiesel">Biodiesel</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="transmisionSelect">Tipo de Transmision</label>
                    <select class="form-select" id="transmisionSelect">
                        <option value="" disabled selected>Selecciona un Tipo de Transmisión</option>
                        <option value="Automático">Automático</option>
                        <option value="Semi-Automático">Semi-Automático</option>
                        <option value="Manual">Manual</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="InputPlaca">Placa</label>
                    <input type="text" class="form-control" id="InputPlaca" placeholder="Ingrese Placa">
                </div>
                <div class="form-group mb-2">
                    <button type="submit" class="btn btn-primary mb-2">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>